[data-id=app] {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-family: sans-serif;
  color: white;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
[data-id=control] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 2px;
}
[data-id=control] fieldset {
  background: none;
  padding: 1px;
  margin: 2px;
  border: 1px solid #aaa;
  border-radius: 6px;
}
[data-id=control] button{
  font-weight: 900;
  font-size: 0.9em;
  background: #eee;
  margin: 3px;
  border-radius: 6px;
}
[data-id=control] button[data-id=start-stop]{
  width: 7em;
}
[data-id=control] input {
  margin: 3px;
  border-radius: 6px;
}
section[data-id=information] {
  font-size: 0.8em;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 2px 2px;
}
section[data-id=information] ul{
  display: block;
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}
section[data-id=information] li {
  display: inline;
  padding: 0;
  margin-left: 3px;
}
section[data-id=information] article {
  border: 1px solid #555;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
}
section[data-id=information] article:nth-child(1) {
  width: 16em;
}
