[data-id=display-results] {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* top: 0;
  left: 0; */
  width: 250px;
  padding: 0.25em;
  color: #222;
  background: rgba(200,200,200, 0.8);
  z-index: 900;
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.8);
 }
 [data-id=display-results] ul{
  padding: 0;
  margin: 0;
 }
 [data-id=display-results] li{
  background: #ccc;
  margin: 0.25em;
  border-radius: 3px;
  cursor: default;
  z-index: 100;
 }
 [data-id=display-results] li:hover{
  background: white;
 }