[data-id=drawer-container] {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  color: #222;
  background: rgba(200,200,200, 0.8);
  z-index: 900;
  transition-property: right, left;
  transition-duration: 1s;
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.8);
 }
 [data-id=drawer-container] button[data-id=set-is-open]{
  position: absolute;
  padding: 0;
  box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.8);
  z-index: 1000;
 }
